<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header text-center">
                    <strong>¡ Bienvenido Al Conjunto Residencial Universitario !</strong>
                </div>
                <div class="card-body text-center">
                    <button [routerLink]="['/listar-residentes']" routerLinkActive="router-link-active"  class="btn btn-warning mt-2">Gestionar Residentes</button><br>
                    <button [routerLink]="['/listar-trabajador']" routerLinkActive="router-link-active"  class="btn btn-primary mt-2">Gestionar Trabajadores</button><br>
                    <button [routerLink]="['/listar-evento']" routerLinkActive="router-link-active"  class="btn btn-danger mt-2">Gestionar Conjunto</button><br>
                </div>
            </div>
        </div>
    </div>
</div>
