<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card mt-3">
                <div class="card-header text-center">
                    <strong>{{ titulo }}</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="eventoForm" (ngSubmit)="addEvento()">
                        <div class="mb-3">
                            <input formControlName="nombre" type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                            <input formControlName="fecha" type="text" class="form-control" id="fecha" name="fecha" placeholder="Fecha">
                        </div>
                        <button type="submit" class="btn btn-success">Enviar</button>
                        <button type="submit" class="btn btn-secondary float-end" [routerLink]="['/listar-evento']" >Volver</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
